* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('imageL.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.login-container {
  backdrop-filter: blur(10px);
  background: transparent;
  border: 2px solid rgba(54, 54, 54, 0.158);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #000000;
  border-radius: 10px;
  width: 350px;
  padding: 50px 30px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
  font-style: bold;
  height: 50px;
}

.form-group {
  width: 100%;
  height: 50px;
  margin: 20px 0;
  
}

.form-group input {
  width: 100%;
  height: 80%;
  background: transparent;
  outline: none;
  border: none;
  border: 2px solid rgba(248, 248, 248, 0.301);
  border-radius: 40px;
  padding: 20px 20px 20px 20px;
  font-size: 16px;
  
}

label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
}

input {
  width: 100%;
  height: 30px;
  border: 2px solid #ccc;
  background: transparent;
  border-radius: 10px;
  font-size: 14px;
  color:#ffffff
}

button {
  width: 100%;
  padding: 10px;
  background: #ffffff;
  color: rgb(3, 3, 3);
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #3d613d;
  color: antiquewhite;
}

.error-message {
  color: red;
  font-size: 14px;
  text-align: center;
  display: none;
}

.register-link p {
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
}

.register-link a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.form-group input::placeholder {
  color: #ffffff;
}

.form-group i {
  position: absolute;
  right: 20px;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffff;
}